In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('health_registry.csv')

In [2]:
print(df)

      facility_id                         facility_name  \
0         HF-0000         Burgess-Ingram Medical Center
1          033477                           Collins Inc
2              #2              Butler-Leon Clinic (St.)
3               2              Butler-Leon Clinic (St.)
4         HF-0003  Powell, Morales and Butler Infirmary
...           ...                                   ...
13008         ###                                   NaN
13009         NaN                                   NaN
13010         NaN                                    --
13011         NaN                                    --
13012         ???                                   NaN

               facility_type      capacity            region  \
0      Community Health Ctr.      250 beds           St.Lucy
1                      Hosp.           NaN          St.Peter
2                   Hospital       117Beds  St. James Parish
3                   Hospital       117Beds  St. James Parish
4                Health Ctr.  179 capacity          ST. LUCY
...                      ...           ...               ...
13008                    NaN             ∞           unknown
13009                    NaN           NaN               NaN
13010                    NaN           NaN           unknown
13011                    NaN           NaN               NaN
13012                    NaN           NaN           unknown

      licence_issue_date inspection_date               gps_location  \
0               04-01-21     08 Mar 2024        13.08576, -58.75331
1            28 Mar 2024        17-04-23  POINT(-58.84001 12.87196)
2             2016-02-18        30/12/22        -58.82307, 13.00952
3             2016-02-18        30/12/22        -58.82307, 13.00952
4       November 21 2020        07-03-24        12.77293, -59.04279
...                  ...             ...                        ...
13008                NaN       yesterday                  somewhere
13009                NaN             NaN                        0,0
13010                NaN        13/13/13                  somewhere
13011         not a date        13/13/13                  somewhere
13012              0/0/0        13/13/13                  somewhere

              remarks
0                 NaN
1                Good
2                Good
3                Good
4      Follow-up 2023
...               ...
13008              !!
13009              !!
13010             NaN
13011             NaN
13012             NaN

[13013 rows x 9 columns]

In [3]:
df
df.head()

,facility_id,facility_name,facility_type,capacity,region,licence_issue_date,inspection_date,gps_location,remarks
0,HF-0000,Burgess-Ingram Medical Center,Community Health Ctr.,250 beds,St.Lucy,04-01-21,08 Mar 2024,"13.08576, -58.75331",NaN
1,033477,Collins Inc,Hosp.,NaN,St.Peter,28 Mar 2024,17-04-23,POINT(-58.84001 12.87196),Good
2,#2,Butler-Leon Clinic (St.),Hospital,117Beds,St. James Parish,2016-02-18,30/12/22,"-58.82307, 13.00952",Good
3,2,Butler-Leon Clinic (St.),Hospital,117Beds,St. James Parish,2016-02-18,30/12/22,"-58.82307, 13.00952",Good
4,HF-0003,"Powell, Morales and Butler Infirmary",Health Ctr.,179 capacity,ST. LUCY,November 21 2020,07-03-24,"12.77293, -59.04279",Follow-up 2023

In [4]:
df.describe(include="all") #statistical information

,facility_id,facility_name,facility_type,capacity,region,licence_issue_date,inspection_date,gps_location,remarks
count,9305,12989,11015,10361,12980,12990,13002,10721,10080
unique,7356,10233,11,2904,116,7980,7509,8282,8
top,???,--,Community Health Centre,unknown,Christ Church,32/13/99,32/13/99,somewhere,Reinspection due
freq,16,14,1060,1403,363,124,135,22,1503

In [5]:
df.isna().sum() #total amount missing

facility_id           3708
facility_name           24
facility_type         1998
capacity              2652
region                  33
licence_issue_date      23
inspection_date         11
gps_location          2292
remarks               2933
dtype: int64

In [6]:
df.isna().mean() * 100  # percentage missing

facility_id           28.494582
facility_name          0.184431
facility_type         15.353877
capacity              20.379620
region                 0.253593
licence_issue_date     0.176746
inspection_date        0.084531
gps_location          17.613156
remarks               22.538999
dtype: float64

In [7]:
df.columns.values

array(['facility_id', 'facility_name', 'facility_type', 'capacity',
       'region', 'licence_issue_date', 'inspection_date', 'gps_location',
       'remarks'], dtype=object)

In [8]:
df.nunique()
df["facility_id"].value_counts()

facility_id
???       16
###        9
7d10f8     2
b4213f     2
7703       2
          ..
#3872      1
65622f     1
03866      1
#3865      1
5019       1
Name: count, Length: 7356, dtype: int64

In [9]:
from ydata_profiling import ProfileReport

In [10]:
profile = ProfileReport(df, title="Data Profile", explorative=True)
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/9 [00:00<?, ?it/s]
 11%|█         | 1/9 [00:00<00:02,  3.14it/s]
 22%|██▏       | 2/9 [00:00<00:02,  3.26it/s]
 67%|██████▋   | 6/9 [00:01<00:00,  6.65it/s]
100%|██████████| 9/9 [00:01<00:00,  7.77it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
#Report generated that summarizes the data found.

In [12]:
df.duplicated().sum()
df = df.drop_duplicates()
df

,facility_id,facility_name,facility_type,capacity,region,licence_issue_date,inspection_date,gps_location,remarks
0,HF-0000,Burgess-Ingram Medical Center,Community Health Ctr.,250 beds,St.Lucy,04-01-21,08 Mar 2024,"13.08576, -58.75331",NaN
1,033477,Collins Inc,Hosp.,NaN,St.Peter,28 Mar 2024,17-04-23,POINT(-58.84001 12.87196),Good
2,#2,Butler-Leon Clinic (St.),Hospital,117Beds,St. James Parish,2016-02-18,30/12/22,"-58.82307, 13.00952",Good
3,2,Butler-Leon Clinic (St.),Hospital,117Beds,St. James Parish,2016-02-18,30/12/22,"-58.82307, 13.00952",Good
4,HF-0003,"Powell, Morales and Butler Infirmary",Health Ctr.,179 capacity,ST. LUCY,November 21 2020,07-03-24,"12.77293, -59.04279",Follow-up 2023
...,...,...,...,...,...,...,...,...,...
13008,###,NaN,NaN,∞,unknown,NaN,yesterday,somewhere,!!
13009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,0",!!
13010,NaN,--,NaN,NaN,unknown,NaN,13/13/13,somewhere,NaN
13011,NaN,--,NaN,NaN,NaN,not a date,13/13/13,somewhere,NaN
13012,???,NaN,NaN,NaN,unknown,0/0/0,13/13/13,somewhere,NaN

In [13]:
titles = list(df.columns.values)
titles

['facility_id',
 'facility_name',
 'facility_type',
 'capacity',
 'region',
 'licence_issue_date',
 'inspection_date',
 'gps_location',
 'remarks']

In [14]:
df["licence_issue_date"] = pd.to_datetime(df["licence_issue_date"], errors="coerce", format="mixed")
df["inspection_date"] = pd.to_datetime(df["inspection_date"], errors="coerce", format="mixed")  #change the dates

C:\Users\IanSF\AppData\Local\Temp\ipykernel_17188\3842305306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["licence_issue_date"] = pd.to_datetime(df["licence_issue_date"], errors="coerce", format="mixed")
C:\Users\IanSF\AppData\Local\Temp\ipykernel_17188\3842305306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["inspection_date"] = pd.to_datetime(df["inspection_date"], errors="coerce", format="mixed")  #change the dates

In [15]:
df

,facility_id,facility_name,facility_type,capacity,region,licence_issue_date,inspection_date,gps_location,remarks
0,HF-0000,Burgess-Ingram Medical Center,Community Health Ctr.,250 beds,St.Lucy,2021-04-01,2024-03-08,"13.08576, -58.75331",NaN
1,033477,Collins Inc,Hosp.,NaN,St.Peter,2024-03-28,2023-04-17,POINT(-58.84001 12.87196),Good
2,#2,Butler-Leon Clinic (St.),Hospital,117Beds,St. James Parish,2016-02-18,2022-12-30,"-58.82307, 13.00952",Good
3,2,Butler-Leon Clinic (St.),Hospital,117Beds,St. James Parish,2016-02-18,2022-12-30,"-58.82307, 13.00952",Good
4,HF-0003,"Powell, Morales and Butler Infirmary",Health Ctr.,179 capacity,ST. LUCY,2020-11-21,2024-07-03,"12.77293, -59.04279",Follow-up 2023
...,...,...,...,...,...,...,...,...,...
13008,###,NaN,NaN,∞,unknown,NaT,NaT,somewhere,!!
13009,NaN,NaN,NaN,NaN,NaN,NaT,NaT,"0,0",!!
13010,NaN,--,NaN,NaN,unknown,NaT,NaT,somewhere,NaN
13011,NaN,--,NaN,NaN,NaN,NaT,NaT,somewhere,NaN
13012,???,NaN,NaN,NaN,unknown,NaT,NaT,somewhere,NaN

In [16]:
#now to get capacity

In [17]:
import re

In [18]:
df["capacity"] = df.capacity.str.extract(r'(\d+)')

C:\Users\IanSF\AppData\Local\Temp\ipykernel_17188\1372316370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["capacity"] = df.capacity.str.extract(r'(\d+)')

In [19]:
df

,facility_id,facility_name,facility_type,capacity,region,licence_issue_date,inspection_date,gps_location,remarks
0,HF-0000,Burgess-Ingram Medical Center,Community Health Ctr.,250,St.Lucy,2021-04-01,2024-03-08,"13.08576, -58.75331",NaN
1,033477,Collins Inc,Hosp.,NaN,St.Peter,2024-03-28,2023-04-17,POINT(-58.84001 12.87196),Good
2,#2,Butler-Leon Clinic (St.),Hospital,117,St. James Parish,2016-02-18,2022-12-30,"-58.82307, 13.00952",Good
3,2,Butler-Leon Clinic (St.),Hospital,117,St. James Parish,2016-02-18,2022-12-30,"-58.82307, 13.00952",Good
4,HF-0003,"Powell, Morales and Butler Infirmary",Health Ctr.,179,ST. LUCY,2020-11-21,2024-07-03,"12.77293, -59.04279",Follow-up 2023
...,...,...,...,...,...,...,...,...,...
13008,###,NaN,NaN,NaN,unknown,NaT,NaT,somewhere,!!
13009,NaN,NaN,NaN,NaN,NaN,NaT,NaT,"0,0",!!
13010,NaN,--,NaN,NaN,unknown,NaT,NaT,somewhere,NaN
13011,NaN,--,NaN,NaN,NaN,NaT,NaT,somewhere,NaN
13012,???,NaN,NaN,NaN,unknown,NaT,NaT,somewhere,NaN

In [20]:

df

,facility_id,facility_name,facility_type,capacity,region,licence_issue_date,inspection_date,gps_location,remarks
0,HF-0000,Burgess-Ingram Medical Center,Community Health Ctr.,250,St.Lucy,2021-04-01,2024-03-08,"13.08576, -58.75331",NaN
1,033477,Collins Inc,Hosp.,NaN,St.Peter,2024-03-28,2023-04-17,POINT(-58.84001 12.87196),Good
2,#2,Butler-Leon Clinic (St.),Hospital,117,St. James Parish,2016-02-18,2022-12-30,"-58.82307, 13.00952",Good
3,2,Butler-Leon Clinic (St.),Hospital,117,St. James Parish,2016-02-18,2022-12-30,"-58.82307, 13.00952",Good
4,HF-0003,"Powell, Morales and Butler Infirmary",Health Ctr.,179,ST. LUCY,2020-11-21,2024-07-03,"12.77293, -59.04279",Follow-up 2023
...,...,...,...,...,...,...,...,...,...
13008,###,NaN,NaN,NaN,unknown,NaT,NaT,somewhere,!!
13009,NaN,NaN,NaN,NaN,NaN,NaT,NaT,"0,0",!!
13010,NaN,--,NaN,NaN,unknown,NaT,NaT,somewhere,NaN
13011,NaN,--,NaN,NaN,NaN,NaT,NaT,somewhere,NaN
13012,???,NaN,NaN,NaN,unknown,NaT,NaT,somewhere,NaN